wireshark-1.pcaphg
# Python
**/__pycache__/     # скомпилированные файлы
**/*.pyc            # скомпилированные файлы (страховка)
**/*.pyo            # оптимизированный байт-код
**/*.pyd            # библиотеки Windows

# Виртуальное окружение
**/venv/
**/env/

# IDE
.vscode/
.idea/

# Базы данных
*.db
*.sqlite3

# Логи
*.log

# Переменные окружения
.env

4-task/venv/
4-task/__pycache__/
4-task/*.pyc